body {
    background-color: #99004d !important;
}

h1 {
    font-family: cursive!important;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif!important;
} 
  
#answers div:hover {
    cursor: pointer;
    color: #ffffff;
}

#checker {
    display: inline-block;
    width: 200px;
    margin: 0 auto;
}
  
  .correct, .false {
    background-color: #109D59;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
  }
  
  .false {
    background-color: #DC4437;
  }